body, html {
    height: 100%;
  
  }

  body{
    background-color: rgb(117, 117, 115);
  }
  


  #brand{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 60px;
    color: blueviolet;
  }

  .navbar-brand{
    margin-left: 10%;
  }

  html,
  body {
      margin: 5px;
      height: 100%;
      width: 100%;
  }

  img {
      width: 100%;
      height: 100%;

  }

 

  section {
      font-family: sans-serif;
   
      height: 100%;
      width: 100%;
      padding-top: 10%;
      padding-left: 2%;
      padding-right: 2%;
      color: white;

    }

  

  .input-group{
      margin-top: 10%;
  }
  #button_loststolen, #button_serialnumber{
      margin-left: 10%;
  }

  #registrationform{
      margin-top: 5%;
  }

  footer{
      background-color: rgb(184, 125, 238);
      font-size: x-large;
      margin-top: 2%;
  }



