body, html {
    height: 100%;
  
  }
  


  #brand{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 60px;
    color: blueviolet;
  }

  .navbar-brand{
    margin-left: 10%;
  }

  html,
  body {
      margin: 5px;
      height: 100%;
      width: 100%;
  }

  img {
      width: 100%;
      height: 100%;

  }

  main {
      height: 100%;
      width: 100%;

  }

  section {
      font-family: sans-serif;
      height: 100%;
      width: 100%;
      padding: 10%;
  }

  section:nth-child(1) {
      background: rgb(59, 59, 58);
      color: white;
  }

  section:nth-child(2) {
      background: rgb(59, 59, 58);
      color: white;
  }

  section:nth-child(3) {
      background: rgb(59, 59, 58);
      color: rgb(255, 255, 255);
  }
  section:nth-child(4) {
      background: rgb(59, 59, 58);
      color: rgb(255, 255, 255);
  }
  hr{
      color: blueviolet;
      height: 30%;
  }


